In [2]:
import pandas as pd

In [3]:

df = pd.read_csv('IPL_PLAYERS.csv')

In [4]:
df.head()

                PLAYERS NATIONALITY           TYPE  PRICE PAID TEAM
0  Avanish Rao Aravelly      Indian  Wicket-Keeper     2000000  CSK
1     Mustafizur Rahman    Overseas         Bowler    20000000  CSK
2        Daryl Mitchell    Overseas    All-Rounder   140000000  CSK
3          Sameer Rizvi      Indian         Batter    84000000  CSK
4       Rachin Ravindra    Overseas    All-Rounder    18000000  CSK

In [5]:
df.tail()

              PLAYERS NATIONALITY         TYPE  PRICE PAID TEAM
67        Akash Singh      Indian       Bowler     2000000   SH
68     Jaydev Unadkat      Indian       Bowler    16000000   SH
69  Wanindu Hasaranga    Overseas  All-Rounder    15000000   SH
70        Pat Cummins    Overseas  All-Rounder   205000000   SH
71        Travis Head    Overseas       Batter    68000000   SH

In [6]:
df.shape()

TypeError: 'tuple' object is not callable

In [14]:
df.shape

(72, 5)

In [15]:
df

                 PLAYERS NATIONALITY           TYPE  PRICE PAID TEAM
0   Avanish Rao Aravelly      Indian  Wicket-Keeper     2000000  CSK
1      Mustafizur Rahman    Overseas         Bowler    20000000  CSK
2         Daryl Mitchell    Overseas    All-Rounder   140000000  CSK
3           Sameer Rizvi      Indian         Batter    84000000  CSK
4        Rachin Ravindra    Overseas    All-Rounder    18000000  CSK
..                   ...         ...            ...         ...  ...
67           Akash Singh      Indian         Bowler     2000000   SH
68        Jaydev Unadkat      Indian         Bowler    16000000   SH
69     Wanindu Hasaranga    Overseas    All-Rounder    15000000   SH
70           Pat Cummins    Overseas    All-Rounder   205000000   SH
71           Travis Head    Overseas         Batter    68000000   SH

[72 rows x 5 columns]

In [16]:
df.isnull()

    PLAYERS  NATIONALITY   TYPE  PRICE PAID   TEAM
0     False        False  False       False  False
1     False        False  False       False  False
2     False        False  False       False  False
3     False        False  False       False  False
4     False        False  False       False  False
..      ...          ...    ...         ...    ...
67    False        False  False       False  False
68    False        False  False       False  False
69    False        False  False       False  False
70    False        False  False       False  False
71    False        False  False       False  False

[72 rows x 5 columns]

In [17]:
df.isnull().sum()

PLAYERS        0
NATIONALITY    0
TYPE           0
PRICE PAID     0
TEAM           0
dtype: int64

In [18]:
df.notnull().sum()

PLAYERS        72
NATIONALITY    72
TYPE           72
PRICE PAID     72
TEAM           72
dtype: int64

In [40]:
new_df=df.copy()

In [19]:
import numpy as np

In [42]:
column_indices = ['NATIONALITY', 'PRICE PAID']
row_indices = [4,5]  

new_df.loc[row_indices[0], column_indices[0]] = np.nan  
new_df.loc[row_indices[1], g[1]] = np.nan

print("DataFrame with Intentional Null Values:")
print(new_df)
new_df.isnull().sum()

DataFrame with Intentional Null Values:
                 PLAYERS NATIONALITY           TYPE   PRICE PAID TEAM
0   Avanish Rao Aravelly        Ausi  Wicket-Keeper    2000000.0  CSK
1      Mustafizur Rahman    Overseas         Bowler   20000000.0  CSK
4        Rachin Ravindra         NaN    All-Rounder   18000000.0  CSK
5         Shardul Thakur        Ausi    All-Rounder          NaN  CSK
6             Ricky Bhui        Ausi  Wicket-Keeper    2000000.0   DC
..                   ...         ...            ...          ...  ...
67           Akash Singh        Ausi         Bowler    2000000.0   SH
68        Jaydev Unadkat        Ausi         Bowler   16000000.0   SH
69     Wanindu Hasaranga    Overseas    All-Rounder   15000000.0   SH
70           Pat Cummins         NaN    All-Rounder  205000000.0   SH
71           Travis Head    Overseas         Batter          NaN   SH

[68 rows x 5 columns]

PLAYERS        0
NATIONALITY    2
TYPE           0
PRICE PAID     2
TEAM           0
dtype: int64

In [43]:
new_df.dropna(inplace=True)

In [44]:
new_df.isnull().sum()

PLAYERS        0
NATIONALITY    0
TYPE           0
PRICE PAID     0
TEAM           0
dtype: int64

In [45]:
new_df.fillna(7, inplace=True)

In [32]:
df

                 PLAYERS NATIONALITY           TYPE   PRICE PAID TEAM
0   Avanish Rao Aravelly      Indian  Wicket-Keeper    2000000.0  CSK
1      Mustafizur Rahman    Overseas         Bowler   20000000.0  CSK
4        Rachin Ravindra    Overseas    All-Rounder   18000000.0  CSK
5         Shardul Thakur      Indian    All-Rounder   40000000.0  CSK
6             Ricky Bhui      Indian  Wicket-Keeper    2000000.0   DC
..                   ...         ...            ...          ...  ...
67           Akash Singh      Indian         Bowler    2000000.0   SH
68        Jaydev Unadkat      Indian         Bowler   16000000.0   SH
69     Wanindu Hasaranga    Overseas    All-Rounder   15000000.0   SH
70           Pat Cummins           7    All-Rounder  205000000.0   SH
71           Travis Head    Overseas         Batter          7.0   SH

[68 rows x 5 columns]

In [35]:
df.replace('Indian', 'Ausi', inplace=True)

In [36]:
print(df)

                 PLAYERS NATIONALITY           TYPE   PRICE PAID TEAM
0   Avanish Rao Aravelly        Ausi  Wicket-Keeper    2000000.0  CSK
1      Mustafizur Rahman    Overseas         Bowler   20000000.0  CSK
4        Rachin Ravindra    Overseas    All-Rounder   18000000.0  CSK
5         Shardul Thakur        Ausi    All-Rounder   40000000.0  CSK
6             Ricky Bhui        Ausi  Wicket-Keeper    2000000.0   DC
..                   ...         ...            ...          ...  ...
67           Akash Singh        Ausi         Bowler    2000000.0   SH
68        Jaydev Unadkat        Ausi         Bowler   16000000.0   SH
69     Wanindu Hasaranga    Overseas    All-Rounder   15000000.0   SH
70           Pat Cummins           7    All-Rounder  205000000.0   SH
71           Travis Head    Overseas         Batter          7.0   SH

[68 rows x 5 columns]

In [39]:
 df.infer_objects()

                 PLAYERS NATIONALITY           TYPE   PRICE PAID TEAM
0   Avanish Rao Aravelly        Ausi  Wicket-Keeper    2000000.0  CSK
1      Mustafizur Rahman    Overseas         Bowler   20000000.0  CSK
4        Rachin Ravindra    Overseas    All-Rounder   18000000.0  CSK
5         Shardul Thakur        Ausi    All-Rounder   40000000.0  CSK
6             Ricky Bhui        Ausi  Wicket-Keeper    2000000.0   DC
..                   ...         ...            ...          ...  ...
67           Akash Singh        Ausi         Bowler    2000000.0   SH
68        Jaydev Unadkat        Ausi         Bowler   16000000.0   SH
69     Wanindu Hasaranga    Overseas    All-Rounder   15000000.0   SH
70           Pat Cummins           7    All-Rounder  205000000.0   SH
71           Travis Head    Overseas         Batter          7.0   SH

[68 rows x 5 columns]

In [38]:
df.interpolate(inplace=True)

C:\Users\rohan\AppData\Local\Temp\ipykernel_4368\471562723.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(inplace=True)

In [ ]:

filtered_data = df[df['TYPE'] == 'Bowler']

In [ ]:
filtered_data

In [ ]:
data_dict = {
    'PLAYERS': ['Avanish Rao Aravelly', 'Mustafizur Rahman', 'Daryl Mitchell', 'Sameer Rizvi', 'Rachin Ravindra', 'Shardul Thakur', ...],
    'NATIONALITY': ['Indian', 'Overseas', 'Overseas', 'Indian', 'Overseas', 'Indian', ...],
    'TYPE': ['Wicket-Keeper', 'Bowler', 'All-Rounder', 'Batter', 'All-Rounder', 'All-Rounder', ...],
    'PRICE PAID': [2000000, 20000000, 140000000, 84000000, 18000000, 40000000, ...],
    'TEAM': ['CSK', 'CSK', 'CSK', 'CSK', 'CSK', 'CSK', ...]
}

new_df = pd.DataFrame(data_dict)
print(new_df)

In [ ]:

bool_series = new_df.isnull()

In [ ]:
bool_series

In [ ]:

new_df.fillna(new_df.mean(), inplace=True)
new_df.fillna(new_df.median(), inplace=True)